<!DOCTYPE html>
<head>
    <title>Run Your Function</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}" rel="stylesheet" media="screen">
    <script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>
</head>

<body>

{% block navbar %}
{% endblock %}

{% block content %}
{% endblock %}

{% block file_list %}
{% endblock %}


<script src="http://code.jquery.com/jquery.js"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
</body>

